@font-face {
    font-family: "FontDraxel";
    src: url("/public/Draxel.ttf") format("truetype");
}

@font-face {
    font-family: "FontF25";
    src: url("/public/F25_Bank_Printer.ttf") format("truetype");
}

:root {
    --main-bg-color: #fe0065;
    --secondary-bg-color: #f2f2f2;
    --main-screen-bg-color: #98cb98;
    --secondary-screen-bg-color: #9e9d9d;
    --main-buttons-color: #585858;
    --square-buttons-color: #7ca9f7;

    --dim_reference: 90%;
    --dim_actual: ;
    --calc_scale: 2;
    --scale_factor: calc(2);

    --max-width-buttons: 900px;
    --left-space: calc(50%-950px);
}  

/* Prevents text selection on elements aka "no text bar thing when selecting elements" */
  .prevent-select {
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
  }

  .red {
    background-color: #ff0000;
  }
  .yellow {
    background-color: #fecb65;
  }
  .green {
    background-color: #32cb65;
  }
  .blue {
    background-color: #3298cb;
  }
  
  .light-blue {
    background-color: #85bdfe;
  }
  .light-red {
    background-color: #fe98cb;
  }
  .light-yellow {
    background-color: #fefecb;
  }
  .light-green {
    background-color: #98fe00;
  }
  

  /* Pokemon types and colors */
  .grass-type {
    background-color: #7AC74C;
  }

  .poison-type {
    background-color: #A33EA1; 
  }

  .normal-type {
    background-color: #A8A77A;
  }

  .fire-type {
    background-color: #EE8130;
  }

  .flying-type {
    background-color: #A98FF3;
  }

  .fighting-type {
    background-color: #C22E28;
  }

  .fairy-type {
    background-color: #D685AD;
  }

  .water-type {
    background-color: #6390F0;
  }

  .dragon-type {
    background-color: #6F35FC;
  }

  .dark-type {
    background-color: #705746;
  }

  .bug-type {
    background-color: #A6B91A;
  }

  .electric-type {
    background-color: #F7D02C;
  }

  .steel-type {
    background-color: #B7B7CE;
  }

  .ground-type {
    background-color: #E2BF65;
  }

  .psychic-type {
    background-color: #F95587;
  }

  .ice-type {
    background-color: #96D9D6;
  }

  .rock-type {
    background-color: #B6A136;
  }

  .ghost-type {
    background-color: #735797;
  }


  /* Hover */
  .grass-type-screen:hover {
    background-color: #7AC74C!important;
  }

  .poison-type-screen:hover {
    background-color: #A33EA1!important; 
  }

  .normal-type-screen:hover {
    background-color: #A8A77A!important;
  }

  .fire-type-screen:hover {
    background-color: #EE8130!important;
  }

  .flying-type-screen:hover {
    background-color: #A98FF3!important;
  }

  .fighting-type-screen:hover {
    background-color: #C22E28!important;
  }

  .fairy-type-screen:hover {
    background-color: #D685AD!important;
  }

  .water-type-screen:hover {
    background-color: #6390F0!important;
  }

  .dragon-type-screen:hover {
    background-color: #6F35FC!important;
  }

  .dark-type-screen:hover {
    background-color: #705746!important;
  }

  .bug-type-screen:hover {
    background-color: #A6B91A!important;
  }

  .electric-type-screen:hover {
    background-color: #F7D02C!important;
  }

  .steel-type-screen:hover {
    background-color: #B7B7CE!important;
  }

  .ground-type-screen:hover {
    background-color: #E2BF65!important;
  }

  .psychic-type-screen:hover {
    background-color: #F95587!important;
  }

  .ice-type-screen:hover {
    background-color: #96D9D6!important;
  }

  .rock-type-screen:hover {
    background-color: #B6A136!important;
  }

  .ghost-type-screen:hover {
    background-color: #735797!important;
  }
  
  * {
    margin: 0;
    padding: 0;
  }

  body {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    background-color: var(--secondary-bg-color);
  }
  
  .home-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .text-ui {
    margin: 16px 0px;
  }

  .logo {
    justify-self: start;
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .search-container {
    width: 100%;
    height: 80px;
    justify-self: center;
    align-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  /* poke-ball */
  .ball-container {
    overflow: hidden;
    width: 60px;
    height: 60px;
    border: 2px solid black;
    border-radius: 50%;
    position: relative;
    animation: shake 1.5s ease-in infinite;
    animation-play-state: paused;
  }
  
  @keyframes shake {
    0% {
      transform: rotate(5deg);
    }
    5% {
      transform: rotate(-5deg);
    }
    10% {
      transform: rotate(5deg);
    }
    15% {
      transform: rotate(-5deg);
    }
    20% {
      transform: rotate(5deg);
    }
    25% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(0deg);
    }
  }
  
  .ball-container:hover {
    cursor: pointer;
    animation-play-state: running;
  }
  .upper-half-ball {
    position: absolute;
    width: 100%;
    height: 42%;
    background-color: var(--main-bg-color);
  }
  
  .bottom-half-ball {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 42%;
    background-color: var(--secondary-bg-color);
  }
  
  .center-ball {
    background-color: white;
    width: 20%;
    height: 20%;
    border: 2px solid black;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .center-line {
    background: black;
    height: 100%;
    width: 100%;
  }
  
  input {
    text-align: center;
    height: 40px;
    border-radius: 4px;
    margin-right: 10px;
  }
  


  /* poke-dex */
  #pokedex-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(342px * var(--scale_factor));
    width: calc(228px * 2 * var(--scale_factor));
  }

  #pokedex {

    height: calc(342px);
    width: calc(228px * 2);
    display: flex;
    border-radius: 10px;

    transform: scale(var(--scale_factor));
    
  }

  @media only screen and (max-width: 490px) {
    #pokedex-container {
        height: calc(342px * 1);
        width: calc(228px * 2 * 1);
      }
    #pokedex {
      width: 90%;
      transform: scale(1);
    }

    body {
      position: fixed;
      width: 70%!important;
      left: 15%!important;
    }
    
    #abilities-container {
    margin-top: 5vh!important;
    display: grid;
    grid-template-columns: repeat(3, 1fr)!important;
    grid-template-rows: repeat(25, 1fr)!important;

    justify-content: center;
    align-items: center;
    width: calc(200px * var(--scale_factor))!important;
    gap: 1px;
  }

    .abilities-background-ui {
      height: calc(10px * var(--scale_factor));
      width: calc(30px * 2 * var(--scale_factor));
    }

    .blue-squares-container-ui {
        left: 5%;
        width: 90vw;
    }

    .blue-square-ui {
      width: 100px!important;
      font-size: 21px!important;
    }

    .ability-ui {
      
      height: calc(230px * var(--scale_factor))!important;
      width: calc(170px * var(--scale_factor))!important;
    }

    #right-panel::before {
        width: 0%!important;
    }
    
    .evolution-container-container {
        padding-left: 5px;
    }
    .evolution-name-container {
        width: 95%!important;
    }

    
    .evolution-container {
        width: 95%!important;
        height: 77%!important;
    }
    .evolution-screen {
        width: 80%!important;
        height: 90%!important;
    }   
    .arrow {
        margin-left: 19px!important;
    }
    .arrow-down {
        margin-left: 19px!important;
    }
}
  
  @media only screen and (max-width: 600px) {
    #pokedex-container {
        height: calc(342px * 1)!important;
        width: calc(228px * 2 * 1)!important;
      }
    #pokedex {
      width: 90%!important;
      transform: scale(0.9)!important;
    }
    
    #abilities-container {
    margin-top: 5vh!important;
    display: grid;
    grid-template-columns: repeat(3, 1fr)!important;
    grid-template-rows: repeat(25, 1fr)!important;

    justify-content: center;
    align-items: center;
    width: calc(200px * var(--scale_factor))!important;
    gap: 1px;
  }

    .abilities-background-ui {
      height: calc(10px * var(--scale_factor));
      width: calc(30px * 2 * var(--scale_factor));
    }

    .blue-squares-container-ui {
        left: 5%!important;
        width: 90vw!important;
    }

    .blue-square-ui {
      width: 100px!important;
      font-size: 21px!important;
    }

    .ability-ui {
      
      height: calc(230px * var(--scale_factor))!important;
      width: calc(170px * var(--scale_factor))!important;
    }

    #right-panel::before {
        width: 0%!important;
    }
    
    .evolution-container-container {
        padding-left: 5px;
    }
    .evolution-name-container {
        width: 95%!important;
    }

    
    .evolution-container {
        width: 95%!important;
        height: 77%!important;
    }
    .evolution-screen {
        width: 80%!important;
        height: 90%!important;
    }   
    .arrow {
        margin-left: 19px!important;
    }
    .arrow-down {
        margin-left: 19px!important;
    }
}

  
  @media only screen and (min-width: 601px) and ( max-width: 1200px) {
    #pokedex-container {
        height: calc(342px * 1);
        width: calc(228px * 2 * 1);
      }
    #pokedex {
      transform: scale(1);
    }
    
    .blue-squares-container-ui {
        left: 10%!important;
        width: 80vw!important;
    }

    .ability-ui {
      height: calc(250px * var(--scale_factor))!important;
      width: calc(250px * var(--scale_factor))!important;
    }

    .evolution-screen {
        width: 80%!important;
        height: 90%!important;
    }  

    .arrow {
        margin-left: 20px!important;
    }
    .arrow-down {
        margin-left: 20px!important;
    }
  }

  /* LEFT PANEL */
  #left-panel {
    background-color: var(--main-bg-color);
    box-sizing: border-box;
    height: 100%;
    width: 50%;
    display: grid;
    grid-template-rows: 23% 50% 27%;
    border: solid black 3px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 7px;
  }

  /* Top Lights */
  .lights-container {
    position: relative;
    display: flex;
    justify-content: start;
    align-items: center;
  }
  
  .left-svg {
    position: absolute;
    z-index: +5;
  }
  
  .big-light-boarder {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3px;
    margin-left: 5px;
    height: 60px;
    width: 60px;
    border: solid black;
    border-radius: 50%;
    background-color: white;
  }
  
  .big-light {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: solid black;
  }
  
  .big-dot {
    height: 15px;
    width: 15px;
    position: relative;
    top: 7px;
    left: 10px;
    border-radius: 50%;
  }
  
  .small-lights-container {
    margin-left: 15px;
    margin-top: 10px;
    width: 70px;
    height: 100%;
    display: flex;
    align-self: start;
    justify-content: space-around;
  }
  
  .small-light {
    border: solid black;
    width: 16px;
    height: 16px;
    border-radius: 50%;
  }

  .shiny {
    background-color: #fdd81d!important;
  }
  .shiny:hover {
    background-color: #ffe770!important;
  }

  .dot {
    height: 5px;
    width: 5px;
    position: relative;
    top: 3px;
    left: 3px;
    border-radius: 50%;
  }

  .small-light:hover {
    background-color: rgb(218, 1, 1);
  }

  #id-screen {
    font-family: fontDraxel;
    width: 24px;
    background-color: rgb(245, 245, 235);
    border: solid black 2px;
    border-radius: 8px;
    font-size: 13px;
    font-weight: 500;
    padding: 5px 6px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: left;
  }

  .info-height-weight {
    font-family: fontDraxel;
    width: 44px;
    height: 7px;
    background-color: rgb(245, 245, 235);
    border: solid black 2px;
    border-radius: 2px;
    font-size: 9px;
    font-weight: 500;
    padding: 2px 4px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: left;
  }
  
  
  .height-transform {
    transform: translateX(-27px) translateY(-45px);
  }
  .weight-transform {
    transform: translateX(-29px) translateY(-45px);
  }
  /* Center Screen */
  
  .screen-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .screen {
    width: 150px;
    height: 150px;
    border: solid black;
    border-radius: 0 0 0 17%;
    display: grid;
    grid-template-rows: 10% 70% 18%;
    background-color: white;
  }
  
  .top-screen-lights {
    width: 50%;
    margin-top: 2px;
    display: flex;
    justify-self: center;
    justify-content: center;
    align-items: center;
  }
  
  .mini-light {
    border: solid black 2px;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    margin-right: 7px;
  }
  
  .illustration {
    justify-content: center;
    justify-self: center;
    position: relative;
    width: 100%;
    height: 100%;
    max-width: 103px;
    flex: 1;
    font-size: 4px;
    
  }

  #main-screen {
    height: 100%;
    width: 80%;
    justify-self: center;
    justify-items: center;
    background-color: var(--main-screen-bg-color);
    border: solid black 2px;
    border-radius: 5%;
    display: grid;
  }
  


  .bottom-screen-lights {
    display: flex;
    margin-top: 5px;
    width: 75%;
    justify-self: center;
    justify-content: space-between;
    align-items: center;
  }
  
  .bottom-screen-lights .small-light {
    border: solid black 2px;
    width: 12px;
    height: 12px;
  }
  
  .bottom-screen-lights .dot {
    height: 4px;
    width: 4px;
    top: 2.5px;
    left: 2px;
  }
  
  .line {
    width: 18px;
    height: 2px;
    background-color: black;
    margin-top: 2px;
  }
  
  /*Bottom buttons  */
  
  .buttons-container {
    display: grid;
    grid-template-rows: 40% 60%;
  }
  
  .big-button {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: solid 3px black;
    background-color: var(--main-buttons-color);
    margin-left: 7px;
  }
  
  .long-button {
    width: 35px;
    height: 4px;
    border-radius: 50px;
    border: 2px solid black;
  }
  
  #name-screen {
    width: 100%;
    padding-top: 3px; /* The font isn't centered :( */
    font-family: fontDraxel;
    color: black;
    font-weight: 300;
    text-align: center;
    font-size: 14px;
    overflow-wrap: break-word;
    
    width: 80px;
    height: 36px;
    border-radius: 9px;
    border: solid black 2px;
    background-color: rgb(245, 245, 235);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .circle {
    width: 4px;
    height: 4px;
    border-radius: 50%;
    border: 1px solid black;
  }
  
  .upper-buttons-container {
    display: flex;
    align-items: top;
    justify-content: start;
  }
  
  .long-buttons-container {
    display: flex;
    width: 100px;
    justify-content: space-around;
    margin-left: 7px;
  }
  
  .nav-buttons-container {
    display: grid;
    grid-template-columns: 27% 35% 38%;
  }
  
  .dots-container {
    height: 100%;
    width: 50%;
    display: flex;
    justify-self: center;
    justify-content: space-between;
    font-size: x-large;
  }
  
  .right-nav-container {
    position: relative;
    top: -30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .nav-button {
    height: 52px;
    width: 52px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .nav-button-vertical {
    position: absolute;
    transform: rotate(90deg);
    background-color: var(--main-buttons-color);
    border-radius: 5px;
    height: 12px;
    width: 52px;
    border: 2px solid black;
  }
  
  .nav-button-horizontal {
    position: absolute;
    background-color: var(--main-buttons-color);
    border-radius: 5px;
    height: 12px;
    width: 52px;
    border: 2px solid black;
  }
  
  .nav-center-circle {
    height: 5px;
    width: 5px;
    border-radius: 50%;
    border: solid black 2px;
    z-index: +2;
  }
  
  .border-top {
    border-top: 3.5px solid var(--main-buttons-color);
    position: absolute;
    top: -3px;
    left: 20px;
    right: 19.5px;
  }
  .border-bottom {
    border-top: 3.5px solid var(--main-buttons-color);
    position: absolute;
    top: 11px;
    left: 20px;
    right: 19.5px;
  }
  
  .bottom-right-nav-container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  
  .bottom-right-nav-container .dots-container {
    align-items: center;
    justify-content: center;
  }
  
  .bottom-right-nav-container .small-light {
    border: solid black 2px;
    width: 7px;
    height: 7px;
    margin-right: 3px;
    margin-top: 10px;
  }
  
  .bottom-right-nav-container .dot {
    height: 2.5px;
    width: 2.5px;
    top: 1.5px;
    left: 1.5px;
  }
  
  /* RIGHT PANEL */
  
  #right-panel {
    background-color: var(--main-bg-color);
    box-sizing: border-box;
    position: relative;
    height: 100%;
    width: 50%;
    display: grid;
    grid-template-rows: 24% repeat(4, 19%);
    border-bottom: solid black 4px;
    border-bottom-right-radius: 10px;
  }
  #right-panel::before {
    content: '';
    position: absolute;
    left: 204px;
    bottom: 0;
    width: 10%;
    height: 265px;
    border-right: solid black 4px;
    border-bottom-right-radius: 6px;
    border-top-right-radius: 4px;
  }
  /* top screen */
  .top-screen-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .right-panel-screen {
    
    font-family: FontF25;
    width: 146px;
    height: 64px;
    color: black;
    background-color: rgb(245, 245, 235);
    border: solid black 2px;
    border-radius: 8px;
    font-size: 9px;
    font-weight: 500;
    padding: 0px 12px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: justify;
    line-height: 1;
  }
  
  /* square buttons grid */
  .square-buttons-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .blue-squares-container {
    width: 146px;
    height: 60px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
  .blue-square {
    border-radius: 2px;
    border: black 1.5px solid;
    background-color: var(--square-buttons-color);
    box-shadow: inset -2px -2px #3298cb;
  }
  .blue-square:hover {
    background-color: #3298cb!important;
  } 

  .blue-squares-container-ui {
    position: fixed;
    bottom: 5%;
    lleft: max(10%, --left-space); 
    height: auto;
    display: flex;
    flex-wrap: wrap;
    width: min(80vw, --max-width-buttons);
    gap: 15px;

    justify-content: center;
  }
@media screen and (min-width: 1000px) {
  .blue-squares-container-ui {
    lleft: var(--left-space)!important;
    wwidth: var(--max-width-buttons)!important;
  }
}
  .blue-square-ui {

    flex: 1;
    width: 165px;
    padding: 18px 8px;
    border-radius: 12px;
    border: black 3px solid;
    background-color: rgb(245, 245, 235);
    box-shadow: inset -3px -5px rgb(175, 175, 175);
    font-weight: 500;
    font-family: FontDraxel;
    overflow-wrap: normal;
    color: #20020e;
    font-size: 32px;
  }

  .blue-square-ui:active {
    background-color: rgb(175, 175, 175);
  }
  
  /* center buttons */
  .center-buttons-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    
  }
  
  .center-left-container {
    display: grid;
  }
  
  .small-reds-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    gap: 20px;
  }

  .small-reds-container .small-light {
    border: solid black 2px;
    width: 7px;
    height: 7px;
    margin-right: 10px;
    margin-top: 0px;
  }
  .small-reds-container .dot {
    height: 2.5px;
    width: 2.5px;
    top: 1px;
    left: 1px;
  }
  
  .white-squares-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .white-square {
    width: 25px;
    height: 25px;
    border-radius: 5px;
    border: black 2px solid;
    background-color: #ffffff;
    box-shadow: inset -2px -2px gray;
  }

  .white-square:hover {
    background-color: gray!important;
  }
  
  .center-right-container {
    display: grid;
  }
  
  .thin-buttons-container {
    display: flex;
    justify-content: space-between;
    gap: 6px;
  }
  
  .thin-button {
    width: 35px;
    height: 2px;
    border: 2px solid black;
    background-color: var(--main-buttons-color);
  }
  .yellow-button {
    justify-self: end;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: solid 2px black;
    margin-left: 7px;
  }
  
  .yellow-button .big-dot {
    height: 7px;
    width: 7px;
    position: relative;
    top: 3px;
    left: 5px;
    border-radius: 50%;
  }
  
  .evolutions-title {
    display: flex;
    justify-content: right;
    font-family: FontDraxel;
    color: white;
    font-size: 9px;
    padding: 0;
  }

  .inline {
    display: flex;
    flex-direction: row;
  }

  .inline-no-height {
    position:fixed;
    z-index: 900;
    height: 0px;
    display: flex;
    flex-direction: row;
  }

  .margin-top-small {
    margin-top: 4px;
  }
  .margin-bottom-small {
    margin-bottom: 4px;
  }

  /* bottom screens */
  
  .bottom-screens-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: auto;
    padding: 4 2 0;
    margin-left: 4px;
  }
  
  .bottom-screens-container-column {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: auto;
    gap: 4px;
  }

  .evolution-container-container {
    z-index: 800;
    width: 150px;
    height: 64.3px;
    padding-bottom: 2px;
  }

  .evolution-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1px;
  }

  .small-gap {
    gap: 1px;
  }

  .evolution-name-container {
    width: 100%;
  }


  .evolution-name-screen {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 0 0 30%;
    width: 45px;
    height: 7px;
    background-color: rgb(245, 245, 235);
    border: solid black 2px;
    border-radius: 5%;
    transform: translateY(3px);
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    color: black;
    font-size: 7px;
    font-family: FontDraxel;
    padding-top: 1px;
  }

  .evolution-screen {
    flex: 0 0 30%;
    width: 50px;
    height: 45px;
    justify-self: center;
    justify-items: center;
    background-color: var(--main-screen-bg-color);
    border: solid black 2px;
    border-radius: 5%;
    display: flex;
    flex-direction: column;
  }

  .evolution-px-up-right {
    transform: translateY(-6px) translateX(2px);
  }

  .arrow {
    flex: 0 0;
    margin-left: 20px;
    margin-bottom: 0px;
    margin-top: 0px;
    
    
    border: solid black;
    border-width: 0 3px 3px 0;
    padding: 0px 3px 3px 0px;
  }

  .arrow-down {
    transform: translateY(43px) rotate(45deg);
    -webkit-transform: translateY(43px) rotate(45deg);
  }

  .arrow-down:hover {
    border-color: #F7D02C;
  }

  .arrow-up {
    transform: translateY(0px) rotate(-135deg);
    -webkit-transform: translateY(-0px) rotate(-135deg);
  }

  .arrow-up:hover {
    border-color: #F7D02C;
  }

  .type-screen {
    font-family: fontDraxel;
    color: white;
    width: 26px;
    border: solid rgb(255, 255, 255) 2px;
    border-radius: 6px;
    font-size: 10px;
    font-weight: 500;
    padding: 2px 8px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 1.25;
  }

  .bottom-screens-container .right-panel-screen {
    width: 64px;
    height: 25px;
    font-weight: 500;
    padding: 0;
    
  }

  .flex-max {
    flex: 1 1 100;
  }
  
  .mention {
    margin-top: 10px;
    width: 150px;
    display: grid;
    text-align: center;
    font-size: x-large;
  }
  .links {
    display: flex;
    justify-content: space-between;
  }
  .link-logo {
    width: 25px;
    height: 25px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }



  /* Animations */

  @-webkit-keyframes rotating /* Safari and Chrome */ {
    from {
      -webkit-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    to {
      -webkit-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  @keyframes rotating {
    from {
      -ms-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -webkit-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    to {
      -ms-transform: rotate(360deg);
      -moz-transform: rotate(360deg);
      -webkit-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  .rotating {
    -webkit-animation: rotating 2s linear infinite;
    -moz-animation: rotating 2s linear infinite;
    -ms-animation: rotating 2s linear infinite;
    -o-animation: rotating 2s linear infinite;
    animation: rotating 2s linear infinite;
  }


  /* Abilities CSS */

  #abilities-container {
    margin-top: 10vh;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(10, 1fr);

    justify-content: center;
    align-items: center;
    height: calc(342px * var(--scale_factor));
    width: calc(305px * var(--scale_factor));
    gap: 1px;
  }

  .abilities-background-ui {
    flex: 0 0;
    display: flex;
    align-self: center;
    justify-content: center;
    justify-self: center;
    align-items: center;
    height: calc(10px * var(--scale_factor));
    width: calc(30px * 2 * var(--scale_factor));
    padding: 32px 8px;
    border-radius: 12px;
    border: rgb(66, 0, 0) 3px solid;
    background-color: #fe0065;
    box-shadow: inset -3px -5px #a50042;
    color: #fbfbf9;
    font-weight: 500;
    font-family: FontDraxel;
    overflow-wrap: normal;
    font-size: 18px;
  }

  .abilities-background-ui:active {
    background-color: #a50042!important;
  }

  .ability-ui {
    flex: 0 0;
    display: flex;
    align-self: center;
    justify-content: center;
    justify-self: center;
    align-items: center;
    margin-top: 10vh;
    height: calc(250px * var(--scale_factor));
    width: calc(450px * var(--scale_factor));
    padding: 32px 8px;
    border-radius: 12px;
    border: rgb(66, 0, 0) 3px solid;
    background-color: #fe0065;
    box-shadow: inset -3px -5px #a50042;
    color: #fbfbf9;
    font-weight: 500;
    font-family: FontDraxel;
    overflow-wrap: normal;
    font-size: 18px;
  }

  